HotelReservationSystemSeClient/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="GuestNotFoundException" type="tns:GuestNotFoundException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="ReservationNotFoundException" type="tns:ReservationNotFoundException"/>

<xs:element name="RoomNotAvailableException" type="tns:RoomNotAvailableException"/>

<xs:element name="getAllReservationsForPartner" type="tns:getAllReservationsForPartner"/>

<xs:element name="getAllReservationsForPartnerResponse" type="tns:getAllReservationsForPartnerResponse"/>

<xs:element name="getApplicableRoomRate" type="tns:getApplicableRoomRate"/>

<xs:element name="getApplicableRoomRateResponse" type="tns:getApplicableRoomRateResponse"/>

<xs:element name="getReservationDetails" type="tns:getReservationDetails"/>

<xs:element name="getReservationDetailsResponse" type="tns:getReservationDetailsResponse"/>

<xs:element name="getRoomRatesForRoomType" type="tns:getRoomRatesForRoomType"/>

<xs:element name="getRoomRatesForRoomTypeResponse" type="tns:getRoomRatesForRoomTypeResponse"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="reservationAmt" type="tns:reservationAmt"/>

<xs:element name="reservationAmtResponse" type="tns:reservationAmtResponse"/>

<xs:element name="reserveRoom" type="tns:reserveRoom"/>

<xs:element name="reserveRoomResponse" type="tns:reserveRoomResponse"/>

<xs:element name="searchAvailableRooms" type="tns:searchAvailableRooms"/>

<xs:element name="searchAvailableRoomsResponse" type="tns:searchAvailableRoomsResponse"/>

<xs:element name="viewAllMyReservations" type="tns:viewAllMyReservations"/>

<xs:element name="viewAllMyReservationsResponse" type="tns:viewAllMyReservationsResponse"/>

<xs:element name="viewAllRoomTypes" type="tns:viewAllRoomTypes"/>

<xs:element name="viewAllRoomTypesResponse" type="tns:viewAllRoomTypesResponse"/>

<xs:element name="viewReservationDetails" type="tns:viewReservationDetails"/>

<xs:element name="viewReservationDetailsResponse" type="tns:viewReservationDetailsResponse"/>

<xs:complexType name="viewReservationDetails">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservationDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="checkInDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="reservationAmt" type="xs:decimal" minOccurs="0"/>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
<xs:element name="reservationRooms" type="tns:reservationRoom" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reserveRooms" type="tns:reservationRoom" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="loggedIn" type="xs:boolean"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationRoom">
<xs:sequence>
<xs:element name="exceptions" type="tns:roomAllocationException" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="reservation" type="tns:reservation" minOccurs="0"/>
<xs:element name="reservationRoomId" type="xs:long" minOccurs="0"/>
<xs:element name="reservedFrom" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservedTo" type="xs:dateTime" minOccurs="0"/>
<xs:element name="room" type="tns:room" minOccurs="0"/>
<xs:element name="roomAllocated" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomAllocationException">
<xs:sequence>
<xs:element name="exceptionId" type="xs:long" minOccurs="0"/>
<xs:element name="exceptionType" type="tns:roomAllocationExceptionTypeEnum" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="reservationRoom" type="tns:reservationRoom" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="isDeleted" type="xs:boolean"/>
<xs:element name="reserveRoom" type="tns:reservationRoom" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomStatus" type="tns:roomStatusEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="isDisabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="nextHigherRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeId" type="xs:long" minOccurs="0"/>
<xs:element name="rooms" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="size" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate">
<xs:sequence>
<xs:element name="isDisabled" type="xs:boolean" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:rateTypeEnum" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRateId" type="xs:long" minOccurs="0"/>
<xs:element name="roomRateName" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="validFrom" type="xs:dateTime" minOccurs="0"/>
<xs:element name="validTo" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllMyReservations">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllMyReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getApplicableRoomRate">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getApplicableRoomRateResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchAvailableRooms">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchAvailableRoomsResponse">
<xs:sequence>
<xs:element name="return" type="tns:room" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomRatesForRoomType">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRoomRatesForRoomTypeResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomRate" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationAmt">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationAmtResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllRoomTypes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewAllRoomTypesResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllReservationsForPartner">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllReservationsForPartnerResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReservationDetails">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getReservationDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoom">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
<xs:element name="arg2" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg3" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GuestNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoomNotAvailableException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="roomAllocationExceptionTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="UPGRADE_AVAILABLE"/>
<xs:enumeration value="NO_ROOM_AVAILABLE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="NOT_AVAILABLE"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="rateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>