HotelReservationSystemSeClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllReservationsForPartner">
<part name="parameters" element="tns:getAllReservationsForPartner"/>
</message>
<message name="getAllReservationsForPartnerResponse">
<part name="parameters" element="tns:getAllReservationsForPartnerResponse"/>
</message>
<message name="getApplicableRoomRate">
<part name="parameters" element="tns:getApplicableRoomRate"/>
</message>
<message name="getApplicableRoomRateResponse">
<part name="parameters" element="tns:getApplicableRoomRateResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="viewReservationDetails">
<part name="parameters" element="tns:viewReservationDetails"/>
</message>
<message name="viewReservationDetailsResponse">
<part name="parameters" element="tns:viewReservationDetailsResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="viewAllMyReservations">
<part name="parameters" element="tns:viewAllMyReservations"/>
</message>
<message name="viewAllMyReservationsResponse">
<part name="parameters" element="tns:viewAllMyReservationsResponse"/>
</message>
<message name="searchAvailableRooms">
<part name="parameters" element="tns:searchAvailableRooms"/>
</message>
<message name="searchAvailableRoomsResponse">
<part name="parameters" element="tns:searchAvailableRoomsResponse"/>
</message>
<message name="getRoomRatesForRoomType">
<part name="parameters" element="tns:getRoomRatesForRoomType"/>
</message>
<message name="getRoomRatesForRoomTypeResponse">
<part name="parameters" element="tns:getRoomRatesForRoomTypeResponse"/>
</message>
<message name="viewAllRoomTypes">
<part name="parameters" element="tns:viewAllRoomTypes"/>
</message>
<message name="viewAllRoomTypesResponse">
<part name="parameters" element="tns:viewAllRoomTypesResponse"/>
</message>
<message name="reserveRoom">
<part name="parameters" element="tns:reserveRoom"/>
</message>
<message name="reserveRoomResponse">
<part name="parameters" element="tns:reserveRoomResponse"/>
</message>
<message name="GuestNotFoundException">
<part name="fault" element="tns:GuestNotFoundException"/>
</message>
<message name="RoomNotAvailableException">
<part name="fault" element="tns:RoomNotAvailableException"/>
</message>
<message name="reservationAmt">
<part name="parameters" element="tns:reservationAmt"/>
</message>
<message name="reservationAmtResponse">
<part name="parameters" element="tns:reservationAmtResponse"/>
</message>
<message name="getReservationDetails">
<part name="parameters" element="tns:getReservationDetails"/>
</message>
<message name="getReservationDetailsResponse">
<part name="parameters" element="tns:getReservationDetailsResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="getAllReservationsForPartner">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getAllReservationsForPartnerRequest" message="tns:getAllReservationsForPartner"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getAllReservationsForPartnerResponse" message="tns:getAllReservationsForPartnerResponse"/>
</operation>
<operation name="getApplicableRoomRate">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getApplicableRoomRateRequest" message="tns:getApplicableRoomRate"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getApplicableRoomRateResponse" message="tns:getApplicableRoomRateResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="viewReservationDetails">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationDetailsRequest" message="tns:viewReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationDetailsResponse" message="tns:viewReservationDetailsResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationDetails/Fault/ReservationNotFoundException"/>
</operation>
<operation name="viewAllMyReservations">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllMyReservationsRequest" message="tns:viewAllMyReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllMyReservationsResponse" message="tns:viewAllMyReservationsResponse"/>
</operation>
<operation name="searchAvailableRooms">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableRoomsRequest" message="tns:searchAvailableRooms"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableRoomsResponse" message="tns:searchAvailableRoomsResponse"/>
</operation>
<operation name="getRoomRatesForRoomType">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getRoomRatesForRoomTypeRequest" message="tns:getRoomRatesForRoomType"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getRoomRatesForRoomTypeResponse" message="tns:getRoomRatesForRoomTypeResponse"/>
</operation>
<operation name="viewAllRoomTypes">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllRoomTypesRequest" message="tns:viewAllRoomTypes"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllRoomTypesResponse" message="tns:viewAllRoomTypesResponse"/>
</operation>
<operation name="reserveRoom">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomRequest" message="tns:reserveRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomResponse" message="tns:reserveRoomResponse"/>
<fault message="tns:GuestNotFoundException" name="GuestNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoom/Fault/GuestNotFoundException"/>
<fault message="tns:RoomNotAvailableException" name="RoomNotAvailableException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoom/Fault/RoomNotAvailableException"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoom/Fault/ReservationNotFoundException"/>
</operation>
<operation name="reservationAmt">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/reservationAmtRequest" message="tns:reservationAmt"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/reservationAmtResponse" message="tns:reservationAmtResponse"/>
</operation>
<operation name="getReservationDetails">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationDetailsRequest" message="tns:getReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationDetailsResponse" message="tns:getReservationDetailsResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/PartnerWebService/getReservationDetails/Fault/ReservationNotFoundException"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllReservationsForPartner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApplicableRoomRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="viewReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAllMyReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchAvailableRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoomRatesForRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllRoomTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reserveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="GuestNotFoundException">
<soap:fault name="GuestNotFoundException" use="literal"/>
</fault>
<fault name="RoomNotAvailableException">
<soap:fault name="RoomNotAvailableException" use="literal"/>
</fault>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="reservationAmt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>